main{
    width: 80%;
    margin: 1rem auto;
}

.actions .button{
    margin-bottom: 0;
}

li .button-group{
    margin: 0.5rem auto;
}

.flickName{
    margin: 0 0.75rem;
}

.template{
    display: none;
}